<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/data/jpa
        http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <!-- Scan des repositories -->
         <jpa:repositories base-package="com.delivery.repository"/>

    <!-- ========== BEANS OPTIMIZERS ========== -->
         <bean id="nearestNeighborOptimizer" class="com.delivery.optimizer.NearestNeighborOptimizer"/>
         <bean id="clarkeWrightOptimizer" class="com.delivery.optimizer.ClarkeWrightOptimizer"/>

    <!-- ========== BEANS MAPPERS ========== -->
         <bean id="deliveryMapper" class="com.delivery.mapper.DeliveryMapper"/>
         <bean id="vehicleMapper" class="com.delivery.mapper.VehicleMapper"/>
         <bean id="tourMapper" class="com.delivery.mapper.TourMapper">
             <constructor-arg ref="vehicleService"/>
             <constructor-arg ref="warehouseService"/>
         </bean>
         <bean id="warehouseMapper" class="com.delivery.mapper.WarehouseMapper"/>

    <!-- ========== BEANS SERVICES ========== -->
         <bean id="deliveryService" class="com.delivery.service.DeliveryService">
             <constructor-arg ref="deliveryRepository"/>
         </bean>

         <bean id="vehicleService" class="com.delivery.service.VehicleService">
             <constructor-arg ref="vehicleRepository"/>
         </bean>

         <bean id="warehouseService" class="com.delivery.service.WarehouseService">
             <constructor-arg ref="warehouseRepository"/>
         </bean>

         <bean id="tourService" class="com.delivery.service.TourService">
             <constructor-arg ref="tourRepository"/>
             <constructor-arg ref="deliveryRepository"/>
             <constructor-arg ref="vehicleRepository"/>
             <constructor-arg ref="warehouseRepository"/>
             <constructor-arg ref="nearestNeighborOptimizer"/>
             <constructor-arg ref="clarkeWrightOptimizer"/>
         </bean>



</beans>