<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/data/jpa
        http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <!-- Scan des repositories -->
<!--    <jpa:repositories base-package="com.delivery.repository"/>-->

<!--    &lt;!&ndash; ========== BEANS OPTIMIZERS ========== &ndash;&gt;-->
<!--    <bean id="nearestNeighborOptimizer" class="com.delivery.optimizer.NearestNeighborOptimizer"/>-->
<!--    <bean id="clarkeWrightOptimizer" class="com.delivery.optimizer.ClarkeWrightOptimizer"/>-->

<!--    &lt;!&ndash; ========== BEANS MAPPERS ========== &ndash;&gt;-->
<!--    <bean id="deliveryMapper" class="com.delivery.mapper.DeliveryMapper"/>-->
<!--    <bean id="vehicleMapper" class="com.delivery.mapper.VehicleMapper"/>-->
<!--    <bean id="tourMapper" class="com.delivery.mapper.TourMapper"/>-->
<!--    <bean id="warehouseMapper" class="com.delivery.mapper.WarehouseMapper"/>-->

<!--    &lt;!&ndash; ========== BEANS SERVICES ========== &ndash;&gt;-->
<!--    <bean id="deliveryService" class="com.delivery.service.DeliveryService">-->
<!--        <constructor-arg ref="deliveryRepository"/>-->
<!--    </bean>-->

<!--    <bean id="vehicleService" class="com.delivery.service.VehicleService">-->
<!--        <constructor-arg ref="vehicleRepository"/>-->
<!--    </bean>-->

<!--    <bean id="warehouseService" class="com.delivery.service.WarehouseService">-->
<!--        <constructor-arg ref="warehouseRepository"/>-->
<!--    </bean>-->

<!--    <bean id="tourService" class="com.delivery.service.TourService">-->
<!--        <constructor-arg ref="tourRepository"/>-->
<!--        <constructor-arg ref="deliveryRepository"/>-->
<!--        <constructor-arg ref="vehicleRepository"/>-->
<!--        <constructor-arg ref="warehouseRepository"/>-->
<!--        <constructor-arg ref="nearestNeighborOptimizer"/>-->
<!--        <constructor-arg ref="clarkeWrightOptimizer"/>-->
<!--    </bean>-->

    <!-- ========== BEANS CONTROLLERS ========== -->
<!--    <bean id="deliveryController" class="com.delivery.controller.DeliveryController">-->
<!--        <constructor-arg ref="deliveryService"/>-->
<!--        <constructor-arg ref="deliveryMapper"/>-->
<!--    </bean>-->

<!--    <bean id="vehicleController" class="com.delivery.controller.VehicleController">-->
<!--        <constructor-arg ref="vehicleService"/>-->
<!--        <constructor-arg ref="vehicleMapper"/>-->
<!--    </bean>-->

<!--    <bean id="tourController" class="com.delivery.controller.TourController">-->
<!--        <constructor-arg ref="tourService"/>-->
<!--        <constructor-arg ref="tourMapper"/>-->
<!--    </bean>-->

<!--    <bean id="warehouseController" class="com.delivery.controller.WarehouseController">-->
<!--        <constructor-arg ref="warehouseService"/>-->
<!--        <constructor-arg ref="warehouseMapper"/>-->
<!--    </bean>-->
</beans>